<?xml version="1.0"?>
<!DOCTYPE profile>
<!-- Rendered per-node by the Windows installer (Go text/template).
     Reference: https://doc.opensuse.org/projects/autoyast/ -->
<profile xmlns="http://www.suse.com/1.0/yast2ns" xmlns:config="http://www.suse.com/1.0/configns">
  <general>
    <mode>
      <confirm config:type="boolean">false</confirm>
      <halt config:type="boolean">false</halt>
      <forceboot config:type="boolean">true</forceboot>
    </mode>
  </general>

  <bootloader>
    <loader_type>grub2</loader_type>
  </bootloader>

  <networking>
    <keep_install_network config:type="boolean">false</keep_install_network>
    <interfaces config:type="list">
      <interface>
        <bootproto>static</bootproto>
        <ipaddr>{{ .Node.IP }}</ipaddr>
        <prefixlen>{{ .Network.PrefixLen }}</prefixlen>
        <name>{{ .Node.NetworkInterface }}</name>
        <startmode>auto</startmode>
      </interface>
    </interfaces>
    <routing>
      <routes config:type="list">
        <route>
          <destination>default</destination>
          <gateway>{{ .Network.Gateway }}</gateway>
          <device>{{ .Node.NetworkInterface }}</device>
        </route>
      </routes>
    </routing>
    <dns>
      <nameservers config:type="list">
        <nameserver>{{ .Network.DNS }}</nameserver>
      </nameservers>
      <hostname>{{ .Node.Hostname }}</hostname>
      <domain>{{ .Cluster.Domain }}</domain>
    </dns>
  </networking>

  <partitioning config:type="list">
    <drive>
      <device>/dev/disk/by-id/ata-*</device>
      <use>all</use>
      <initialize config:type="boolean">true</initialize>
    </drive>
  </partitioning>

  <software>
    <patterns config:type="list">
      <pattern>base</pattern>
      <pattern>minimal_base</pattern>
      <pattern>basesystem</pattern>
    </patterns>
    <packages config:type="list">
      <package>chrony</package>
      <package>open-iscsi</package>
      <package>python3</package>
      <package>openssh</package>
      <package>sudo</package>
      {{ if .Node.NeedsCeph }}<package>lvm2</package>
      <package>podman</package>{{ end }}
    </packages>
  </software>

  <users config:type="list">
    <user>
      <username>root</username>
      <user_password>!</user_password>
      <encrypted config:type="boolean">true</encrypted>
      <authorized_keys config:type="list">
        {{ range .Node.SSHAuthorizedKeys }}<listentry>{{ . }}</listentry>
        {{ end }}
      </authorized_keys>
    </user>
  </users>

  <services-manager>
    <services>
      <enable config:type="list">
        <service>sshd</service>
        <service>chronyd</service>
      </enable>
    </services>
  </services-manager>

  <scripts>
    <post-scripts config:type="list">
      <script>
        <filename>finalize.sh</filename>
        <interpreter>shell</interpreter>
        <source><![CDATA[
#!/bin/bash
set -e
hostnamectl set-hostname {{ .Node.Hostname }}
firewall-cmd --permanent --zone=trusted --add-source={{ .Network.PodCIDR }} || true
firewall-cmd --permanent --zone=trusted --add-source={{ .Network.ServiceCIDR }} || true
firewall-cmd --reload || true
        ]]></source>
      </script>
    </post-scripts>
  </scripts>
</profile>
